{% load i18n l10n mobutils %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}KSP Mobile App{% endblock %}</title>
    <link rel="manifest" href="{% url 'manifest.json' %}">
    <link rel="stylesheet" href="{{ static_prefix }}{% static 'leaflet/leaflet.css' %}" />
    <link rel="stylesheet" href="{{ static_prefix }}{% static 'css/mobile.css' %}" />
    <link rel="stylesheet" href="{{ static_prefix }}{% static 'css/mobile_custom.css' %}" />
    <script src="{{ static_prefix }}{% static 'leaflet/leaflet.js' %}"></script>
    <script src="{{ static_prefix }}{% static 'js/proj4-2.4.3.js' %}"></script>
    <script src="{{ static_prefix }}{% static 'js/proj4leaflet-1.0.1.js' %}"></script>
    <script src="{{ static_prefix }}{% static 'js/pouchdb-7.2.1.min.js' %}"></script>
    <script src="{{ static_prefix }}{% static 'js/L.TileLayer.PouchDBCached.js' %}"></script>
    <script src="{{ static_prefix }}{% static 'js/progressbar.min.js' %}"></script>
    {% block extrahead %}{% endblock %}
    <script>
        var verbose_names = {
            {% for key, val in verbose_names.items %}{{ key }}: '{{ val }}'{% if not forloop.last %},{% endif %}
            {% endfor %}
        };
        var login_url = "{% url 'mobile-login' %}";
        var logout_url = "{% url 'mobile-logout' %}";
        var sync_url = "{% url 'mobile-sync' %}";
        var staticImages = {
            currentPos: "{{ static_prefix }}{% static 'img/currentpos.svg' %}"
        };
        var slopeMapping = {
            {% localize off %}{% for key, val in slope_mapping.items %}{{ key }}: {{ val }}{% if not forloop.last %},{% endif %}
            {% endfor %}{% endlocalize %}
        };
    </script>
  </head>


  <body>
  <div id="inventory-choice-div">
    <form id="inventory-form">
        <p>{% trans "Please choose the inventory to work on:" %}</p>
        <p><select id="inventory-choice" data-url="{% url 'inventory-list' %}">
            <option value="">--------</option>
        </select></p>
        {% block angle_choice %}
        <input type="hidden" name="angleunit" value="gon">
        {% endblock %}
        <button id="inventory-ok" type="submit">OK</button>
    </form>
  </div>

  <div id="left-pane">
      <div id="layer-icons">
          <img id="baselayer" class="pane-icon" src="{{ static_prefix }}{% static 'img/satellite.png' %}"
               title="{% trans 'Plan or satellit view' %}"
               data-toggleimg="{{ static_prefix }}{% static 'img/plan.png' %}"><br>
          <img id="tocurrent" class="pane-icon" src="{{ static_prefix }}{% static 'img/tocurrent.png' %}"
               title="{% trans 'Go to my current position' %}">
          <img id="toinventory" class="pane-icon" src="{{ static_prefix }}{% static 'img/toinventory.png' %}"
               title="{% trans 'Go to inventory' %}">
          <img id="force-orient" class="pane-icon" src="{{ static_prefix }}{% static 'img/vert-horiz.png' %}"
               title="{% trans 'Force orientation' %}">
      </div>
      <div id="pane-icons">
          <div id="unsync-counter" title="{% trans 'Number of unsynchronized content' %}"></div>
          <img id="sync-unsync" class="pane-icon" src="{{ static_prefix }}{% static 'img/un-sync.svg' %}"
               title="{% trans 'Sync between remote and local data' %}"><br>
          <img id="network-status" class="pane-icon" src="{{ static_prefix }}{% static 'img/online.svg' %}"
               title="{% trans 'Online/Offline state' %}"
               data-toggleimg="{{ static_prefix }}{% static 'img/offline.svg' %}">
      </div>
  </div>

  <div id="main-wrapper">
  <div id="main-container">

    <div id="map-container">
        <div id="map-div">map</div>
        <div id="undermap-div">
            <div id="undermap-back">
                <button id="gemeinde-back" title="{% trans 'Back to plots overview' %}">
                    <img src="{{ static_prefix }}{% static 'img/back.svg' %}">
                </button>
            </div>
            <div id="undermap-data">
                <div>
                    <b>{% trans "Municipality:" %}</b> <span id="undermap-commune">-</span>
                </div>
                <div class="flex">
                    <b>{% trans "Coordinates:" %}</b> <span id="undermap-coords">-</span>
                    <div id="coords_warning" class="warning">
                        {% trans "Your position is now more than 50m away from the theoretical coordinates of this plot." %}
                    </div>
                </div>
            </div>
            <div id="plot-data">
                {% block plot_data %}{% endblock %}
            </div>
            <template id="plot-data-template">
                <div class="label"></div><div class="value" id=""></div>
            </template>
        </div>
    </div>

    <div id="infos-div">
        <div id="inventory-title"></div>

        <div id="error"></div>

        <div id="inventory-data">
            {% trans "Number of plots in this inventory: " %} <span id="total_plot_num"></span>
            <ul>
              <li><span id="plot_inventoried_num"></span> {% trans "plot(s) have been inventoried this year (green points)" %}</li>
              <li><span id="plot_inworks_num"></span> {% trans "plot(s) are being inventoried, but not yet saved on the server (orange points)" %}</li>
              <li><span id="plot_not_inventoried_num"></span> {% trans "plot(s) have not yet been inventoried this year (blue points)" %}</li>
            </ul>
            <p>{% trans "Click on any colored point to see its data or start to inventory it." %}</p>
        </div>

        <div id="year-buttons"></div>

        <div id="obs-data">
            <div id="obs-tabs">
                <ul class="tabs">
                    <li class="active" data-target="obs-infos-general">{% trans "General" %}</li>
                    <li data-target="obs-infos-trees">{% trans "Trees" %}</li>
                </ul>
            </div>
            <div id="obs-infos-general" class="tab-child hidden">
                <table id="obs-infos-general-table" class="collapse"></table>
            </div>
            <div id="obs-infos-trees" class="tab-child hidden">
                <table id="obs-infos-trees-table" class="collapse"></table>
            </div>
        </div>

        <div id="obs-input">
            <div id="step0">
                <p>{% trans "New inventory for this plot." %}</p>
                <form><input id="input-start" type="button" value="{% trans 'Start' %}"></form>
            </div>

            <form id="allsteps"><select id="allstepsselect">
                {% block step_options %}{% endblock %}
            </select></form>

            {% block forms %}{% endblock %}

            <form id="stepfinal" class="input-form" data-step="99">
                <h2>{% trans "Trees" %} <span id="trees_total"></span></h2>
                <div id="tree_list_container">
                    <table id="trees_summary" class="collapse">
                        <thead>
                            <tr><th>{% trans "Nr." %}</th><th>{% trans "Species" %}</th>
                                {% if has_tree_position %}<th>{% trans "Dist." %}</th><th>{% trans "Azim." %}</th>{% endif %}
                                <th>{% trans "Diam." %}</th><th>{% trans "State" %}</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <template id="tree_row">
                <tr>
                    <td class="nr"></td>
                    <td class="species"></td>
                    {% if has_tree_position %}
                    <td class="dist"></td>
                    <td class="azim"></td>
                    {% endif %}
                    <td class="diameter"></td>
                    <td class="state"></td>
                    <td class="delete"><img src="{{ static_prefix }}{% static 'img/cancel.svg' %}" class="delete-tree"></td>
                </tr>
                </template>

                <div class="weiter">
                    <button type="submit" class="newtree" title="{% trans 'New tree' %}">
                        <span class="bigplus">+</span> <img src="{{ static_prefix }}{% static 'img/newtree.svg' %}">
                    </button>
                </div>

                <p id="ready-message">{% trans "This plot inventory is now complete." %}</p>
                <p id="coords_missing_warning" class="warning">
                    {% trans 'Warning: Precise coordinates are still missing.' %}
                </p>
                <p><button id="input-end" type="button">{% trans "Finish" %}</button></p>
            </form>
           <div id="caliper-disconnected" class="caliper" hidden>
                {% trans "No Bluetooth caliper connected." %}
                <button id="caliper-connect" type="button">{% trans "Connect" %}</button>
            </div>
            <div id="caliper-connected" class="caliper" hidden>
                {% trans "A Bluetooth caliper is currently connected." %}
                <button id="caliper-disconnect" type="button">{% trans "Disconnect" %}</button>
            </div>
        </div><!-- obs-input -->
    </div><!-- infos-div -->

    <div id="progress"></div>
  </div><!-- main-container -->
  <footer id="infos-footer">
    <div>
      <div id="connectedas"><span title="{% trans 'Double-click to logout' %}">{{ request.user.username }}</span></div> -
      <div id="appversion"></div>
    </div>
  </footer>
  </div><!-- main-wrapper -->

  <div id="debug-pane" class="hidden">
    <div id="debug-buttons">
      <span data-target="debug-pane" class="modal-close close">&times;</span>
      <img id="debug-reload" src="{{ static_prefix }}{% static 'img/back.svg' %}" title="{% trans 'Force reload' %}">
    </div>
    <div id="debug-messages"></div>
  </div>

  <div id="modal-div" class="modal hidden">
    <div class="modal-content">
      <span data-target="modal-div" class="modal-close close">&times;</span>
      {% block modal_help %}
      {% for form_data in step_forms %}
        {% for field_name, field_help in form_data.form.help_content.items %}
        <div id="help-{{ field_name }}" class="help hidden">
          {% include field_help.template %}
        </div>
        {% endfor %}
      {% endfor %}
      {% endblock %}
      <div id="loading" class="help hidden">
          <img src="{{ static_prefix }}{% static 'img/indicator.gif' %}" alt="{% trans 'Loading, please wait…' %}"><br>
          {% trans 'Loading, please wait…' %}
      </div>
      <div id="modal-confirm" class="hidden">
          <div class="message"></div>
          <div id="buttons-confirm" class="buttons">
              <button id="confirm-cancel" value="cancel">{% trans 'Cancel' %}</button>
              <button id="confirm-ok" value="ok">{% trans 'OK' %}</button>
          </div>
          <div id="buttons-alert" class="buttons modal-close">
              <button id="alert-ok">{% trans 'OK' %}</button>
          </div>
      </div>
    </div>
  </div>

  <div id="treeImages" hidden>
    {% embed_svg 'img/tree.svg' %}
    {% embed_svg 'img/tree-dead.svg' %}
    {% embed_svg 'img/tree-cut.svg' %}
    {% embed_svg 'img/tree-todo.svg' %}
    {% embed_svg 'img/tree-special.svg' %}
  </div>

  <script type="module" src="{{ static_prefix }}{% static 'js/application.js' %}"></script>
  <script>
    if('serviceWorker' in navigator) {
        navigator.serviceWorker.register("/serviceworker.js", {scope: './'})
            .then(function() { console.log("Service Worker Registered"); });
    }
  </script>
  </body>
</html>
